@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/media/pexels-harold-vasquez-853421-2653362.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
}

.container {
    background-color: rgb(0, 0, 0, 0.7);
}

.menu {}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -200px;
}

.header img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.header-items h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.about {
    background-color: white;
    color: black;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about h2 {
    font-size: 36px;
}

.projects {
    background-color: black;
    color: whitesmoke;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects h2 {
    font-size: 36px;
}

/* Responsive */